{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('main.static', filename='homePageStyle.css') }}">
{% endblock %}


{% block content %}
    <div id="container">
        <table class="table table-striped table-bordered text-center align-middle">
            <thead class="table-light">
                <tr>
                    <th>Loan ID</th>
                    <th>Customer's gender</th>
                    <th>Customer's date of birth</th>
                    <th>Customer's marital status</th>
                    <th>Customer's dependents</th>
                    <th>Customer's education</th>
                    <th>Customer's self employment status</th>
                    <th>Customer's income</th>
                    <th>Customer's co-applicant income</th>
                    <th>Customer's loan amount</th>
                    <th>Customer's loan term</th>
                    <th>Customer's credit history</th>
                    <th>Customer's property area</th>
                    <th>Model's prediction</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for loan in loans %}
                <tr>
                    <td>{{ loan.loanId }}</td>
                    <td>{{ loan.gender }}</td>
                    <td>{{ loan.date_of_birth }}</td>
                    <td>{{ loan.marital_status }}</td>
                    <td>{{ loan.dependents }}</td>
                    <td>{{ loan.education }}</td>
                    <td>{{ loan.self_employment }}</td>
                    <td>{{ loan.applicant_income }}</td>
                    <td>{{ loan.coapplicant_income }}</td>
                    <td>{{ loan.loan_amount }}</td>
                    <td>{{ loan.loan_term }}</td>
                    {% if loan.credit_history == 1 %}
                        <td>Good</td>
                    {% else %}
                        <td>Bad</td>
                    {% endif %}
                    <td>{{ loan.property_area }}</td>

                    <td>{{ loan.prediction_result }}%</td>


                    <td>
                        {% if loan.approved == None %}
                            <form method="POST" action="{{ url_for('main.approve_loan_requests', loanId=loan.loanId) }}" class="d-inline">
                                <button type="submit" class="btn btn-sm btn-outline-warning">Approve</button>
                            </form>
                        {% else %}
                        <div class="badge bg-success-subtle text-success border border-success px-2 py-1 rounded small">Approved</div>
                        {% endif %}
                    </td>




                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}