@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Varela+Round&display=swap');

body {
    background-color: #A8C4EA;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Tinos", serif;
}


.container{
    height: 65vh;
    width: 60vh;
    background-color: #EEF5FF;
    border-radius: 9%;
    color: #176B87;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

}

h1{
    font-family: "Tinos", serif;
    color: #176B87;
    margin-top: 3%;
    margin-left: 30%;
}
#heading{
    margin-left: 0;
    margin-bottom: 1%;
    margin-top: 1%;
}
.form-group{
    padding: 5%;
    color: #176B87;

}
.form-control{
    height: 7vh;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    color: #176B87;
    border-bottom: 3px solid #176B87;
    padding: 5% 5% 2% 3%;
    font-size: 15pt;
}
.register{
    padding: 1%;
}
.form-control:focus {
    outline: none;
    border-bottom: 3px solid #48A6A7;
}

.btn{
    border-radius: 15px;
    width: 30%;
    background-color: #176B87;
    height: 7vh;
    border: transparent;
    margin: 20% 0 0 70%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-size: 15pt;
}
.btn-register{
    margin: 0 0 0 5%;
}

.btn-back{
    width: 30%;
    margin: 0 0 0 35%;
    padding-top: 10px;

}

.btn:hover{
    background-color: #208fb0;
    border: transparent;
}
.btn:active{
    background-color: #176B87;
}
input.form-control::placeholder, .form-control{
    color: #176B87;
}
input.form-control:focus{
    background-color: transparent;
}


input:focus::placeholder{
    color: grey;
}

.error-messages,.alert-success, .alert-error {
    margin-bottom: 1% ;
    z-index: 10;
    position: relative;
    width: 60%;
}
.error-messages .alert {
    margin-bottom: 0.5rem;
}

.alert-success{
    background-color: #d1e7dd;
}
.alert-error{
    background-color: #fff3cd;
}
